<header>
  <nav class="navbar">
    <div class="navbar-logo">
      <a routerLink="/"><img src="assets/paypal-logo.svg" alt="PayPal Logo"></a>
    </div>
    <div class="navbar-links">
      <a (click)="handleTransferClick()" style="cursor: pointer;">Transferir</a>
      <a routerLink="/tarjetas">Tarjetas</a>
      <a routerLink="/security">Seguridad</a>
      <a href="#features" *ngIf="!(isLoggedIn$ | async)">Característica</a>
    </div>
    <div class="navbar-actions">
      <ng-container *ngIf="isLoggedIn$ | async; else showLogin">
        <button class="btn-logout" (click)="logout()">Cerrar Sesión</button>
      </ng-container>
      <ng-template #showLogin>
        <a routerLink="/login" class="btn-login">Iniciar Sesión</a>
        <a routerLink="/ventajas" class="btn-register">Registrarse</a>
      </ng-template>
    </div>
  </nav>
</header>
