<header *ngIf="mostrarNavbar">
  <nav class="navbar">
    <div class="navbar-logo">
      <a routerLink="/"><img src="assets/paypal-logo.svg" alt="PayPal Logo"></a>
    </div>
    <div class="navbar-links">
      <a routerLink="/ventajas">{{ 'home.features.title' | translate }}</a>
      <a routerLink="/tarjetas-publica">{{ 'cards.title' | translate }}</a>
      <a href="#features">{{ 'common.features' | translate }}</a>
      <a routerLink="/donde-comprar">{{ 'home.features.convenient' | translate }}</a>
    </div>
    <div class="navbar-actions">
      <ng-container *ngIf="isLoggedIn$ | async; else showLogin">
        <button class="btn-logout" routerLink="/profile">{{ 'profile.title' | translate }}</button>
      </ng-container>
      <ng-template #showLogin>
        <a routerLink="/login" class="btn-login">{{ 'auth.login' | translate }}</a>
        <a routerLink="/pre-registro" class="btn-register">{{ 'auth.register' | translate }}</a>
      </ng-template>
    </div>
  </nav>
</header>