<nav class="navbar">
  <div class="navbar-brand">
    <a routerLink="/" routerLinkActive="active">
      <img src="/assets/logo.png" alt="PayPal" class="logo">
    </a>
  </div>
  <div class="navbar-menu">
    <a routerLink="/balance" routerLinkActive="active">Gestión</a>
    <a routerLink="/transactions" routerLinkActive="active">Transferir</a>
    <a routerLink="/pay" routerLinkActive="active">Pagar</a>
    <a routerLink="/tarjetas" routerLinkActive="active">Tarjetas</a>
    <a routerLink="/security" routerLinkActive="active">Seguridad</a>
  </div>
</nav>
