<aside class="sidebar" *ngIf="(isLoggedIn$ | async) && mostrarSidebar">

    <div class="sidebar-logo">
        <img src="assets/logo3.webp" alt="Logo" />
    </div>
    <nav class="sidebar-nav">
        <a routerLink="/profile" routerLinkActive="active">Perfil</a>
        <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
        <a routerLink="/tarjetas">Tarjetas</a>
        <a routerLink="/transactions" routerLinkActive="active">Transferencias</a>
        <a>Movimientos</a>
        <a routerLink="/security" routerLinkActive="active">Seguridad</a>
        <a routerLink="/configuracion" routerLinkActive="active">Configuración</a>
        <a (click)="logout()">Cerrar sesión</a>
    </nav>
</aside>